* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

#page_header {
  width: 100%;
  min-height: 10vh;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  transition: background-color 1s ease-in-out; }
  #page_header nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    gap: 12px; }
  #page_header:active {
    background-color: red; }
